/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

html, body {
    margin : 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:#0065FC;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

header img {
    width: 61px;
    height: 19px;
    padding: 30px 0px 30px 0px; 
}

.nav {
    display: flex;
    list-style-type: none;
    gap: 68px;
    width: 344px;
    height: 35px;
    justify-content: space-around;
}

.liens-menu {
    border-top: 1px solid transparent;
    padding-top: 16px;
}

.liens-menu:hover {
    border-top: 1px solid #0065FC;
}

/****** Main (englobe recherche-filtre, hebergement-populaire, activites ***********/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

/****** Recherche-filtre (englobe le titre, la barre de recherche et les filtres ***********/
.recherche-filtre {
    height: 281px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.recherche-filtre h1 {
    font-size: 22px;
    margin: 0;
}

.message-recherche {
    display: flex;
    flex-direction: column;
    height: 53px;
    gap: 8px;
}

.message-recherche p {
    margin: 0;
}

.recherche-filtre h3 {
    font-size: 16px;
}

/****** Barre de recherche ***********/
.barre2recherche {
    display: flex;
    width: 377px;
    height: 49px;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
}

.barre-rechercher {
    text-align: center;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-weight: bold;
    font-size: 18px;
    width: 195px;
}

.bouton-rechercher {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 132px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.bouton-rechercher-mobile {
    display: none;
}

/****** Barre de filtre ***********/
.barre2filtre {
    display: flex;
    gap: 15px;
    width: 758px;
    box-sizing: border-box;
}

.touches-filtre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content;
    gap: 15px;
}

.filtre-unique {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    box-sizing: border-box;
}

.filtre-unique:hover {
    background-color: #DEEBFF;  
}

/****** Texte info ***********/
.text-info {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 24px;
}

.text-info p {
    margin: 0;
}
/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    height: 614px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card-subtitle {
    font-size: 14px;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

#hebergements h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
}

.hebergements-cards a {
    width: calc(33% - 20px);
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    height: 207px;
    gap: 30px;
}

.hebergements-cards .card-content {
    padding: 0 1px 0 0;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-title {
    margin-top: 4px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
#activites {
    height: 559px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activites-cards .card {
    padding: 0;
    height: 439px;
    width: auto;
}

.activites-cards a {
    width: 25%;
}

.activites-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.activites-cards .titre-activites {
    margin: 0;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 16px;
}

/****** Footer ***********/
footer {
    height: 163px;
    padding: 20px;
    display: flex;
    gap: 30px;
    background-color: #d9d9d9;
    margin-top: 5px;
}

footer h3 {
    margin: 0;
}

.footer-menu {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-menu h3 {
    font-size: 18px;
}

.footer-liens {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    header {
        height: 79px;
    }

/****** Recherche et filtre Tablette ***********/
    .recherche-filtre {
        height: 322px;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .barre2filtre {
        display: flex;
        flex-direction: column;
        height: 91px;
        gap: 20px;
    }

    .filtres {
        margin: 0;
    }

/****** Hébergements et populaires Tablette ***********/
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        height: 913px;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .hebergements-cards .card-content {
        padding-left: 5px;
        padding-right: 5px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/****** Activités Tablette ***********/
    #activites {
        height: 390px;
    }

    .activites-cards .card {
        height: 270px;
    }

    .activites-cards img {
        height: 200px;
    }

/****** Footer Tablette ***********/
    footer {
        height: 163px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
        max-width: 375px; 
    }

/****** Header Phone ***********/
    header {
        height: 115px;
        min-width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .nav {
        width: 100%;
        border-bottom: #d9d9d9 1px solid;
        height: 36px;
        box-sizing: border-box;
    }
    
    .liens-menu {
        padding: 0;
    }

    .liens-menu {
        border-bottom: transparent 1px solid;
        padding-bottom: 16px;
        text-align: center;
    }
    
    .liens-menu:hover {
        border-bottom: 1px solid #0065FC;
        border-top: none;
        text-align: center;
    }

/****** Barre de recherche Phone ***********/
    .recherche-filtre {
        height: 432px;
        min-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
    }

    .message-recherche {
        height: 79px;
        gap: 8px;
    }

    .barre2recherche {
        border: 1px #F2F2F2 solid;
        width: 335px;
        border-radius: 15px;
    }

    .barre-rechercher {
        width: 236px;
    }

    .bouton-rechercher {
        display: none;
    }

    .bouton-rechercher-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        width: 49px;
        border-radius: 15px;
    }

    .fa-magnifying-glass {
        color: white;
    }

/****** Barre de filtre Phone ***********/
    .barre2filtre {
        display: flex;
        flex-direction: column;
        width: 335px;
        height: 161px;
    }

    .touches-filtre {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .filtre-unique {
        width: 162.5px;
    }

    .filtre-unique h3 {
        font-size: 14px;
    }

    .text-info {
        height: 36px;
    }

/****** Hébergements et populaires Phone  ***********/
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        height: 2019px;
    }

    .hebergements-and-populaires .populaires {
        height: 569px;
        min-width: 375px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 30px 20px 30px 20px;
        border-radius: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards .card {
        margin: 0;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-and-populaires #hebergements {
        height: 1435px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        background-color: white;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 651px;
    }

    .hebergements-cards a {
        width: 335px;
        height: 207px;
    }

/****** Activites Phone ***********/
    #activites {
        height: 965px;
        box-sizing: border-box;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards .card {
        width: 315px;
        height: 200px;
    }

    .activites-cards img {
        width: 315px;
        height: 141px;
    }

/****** Footer Phone ***********/
    footer {
        height: 461px;
        min-width: 375px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 30px;
    }

    .footer-menu {
        width: 100%;
    }
}